#mainPageSidebar{position:absolute;
left:0;
top:50px;
width:200px;
border:thin solid black;
}
body{background-color: #202020;}
.mainPageBtn{display:block;
padding:10px;
}

#collectedDataTable{position:absolute;
bottom:0;
left:0;
font-weight: bold;
}