#contactInfoMain{width:500px;
height:280px;
background:white;
display:block;
margin: 100px auto 0 auto;
font-family: 'Montserrat';
box-shadow: 0 0 5px black;
transition:.5s;
}

#contactTitle{font-size:25px;
padding:25px;
display:block;
text-align:center;
font-weight:bold;
}

#contactHr{margin:0 auto}
#contactEmailForm{display:block;
padding:20px;
}
#address{margin: 0 10px 0 18px;
width:200px;
}
#domain{width:150px;
margin-left:10px;
}

#contactPhoneForm{display:block;
padding: 0 20px 20px 20px;
}
#phone{padding-left:5px;
margin-left:10px;
width:200px;
}
#contactGenerate{display: inline-block;
font-size: 15px;
margin: 0 0 0 35px;
font-weight: bold;
width:125px;
box-shadow:0 0 3px #7d7575;
}
#contactThisIsIt{display:block;
margin:0 auto;
font-size:18px;
opacity:0;
transition:.5s;
box-shadow:0 0 3px #7d7575;
}
#SMSverification{    width: 270px;
    display: inline-block;
    line-height: 2;
    margin: 20px 0 0 20px;}
#disclaimer{font-size:12px}
#SMScode{font-size: 20px;
    padding-left: 3px;
    width: 70px;
    margin: 10px 0;
    display: block;
}

#confirmationBtns{display:inline-block;
    margin: 0px 40px;
}
#confirmationSubmit{font-size: 15px;
    padding: 7px 28px;
    display: block;
    margin:0 auto 5px auto;
}
#confirmationSkip{font-size: 12px;
    padding: 5px 7px;
display:block;
margin:0 auto;
font-weight:bold;
border:none;
}
#confirmationBottom{opacity:0;
transition:.5s;
margin-top:40px;
}