#DOBMainSection{width:400px;
background-color: whitesmoke;
box-shadow: 0 0 5px black;
padding:20px;
box-sizing: border-box;
display:block;
margin:100px auto;
position:relative;
}

#DOBheader{width:100%;
background-color: tomato;
box-shadow: 0 0 5px black;
height:100px;
box-sizing: border-box;
padding:20px 10px;
display:block;
margin: 0 auto;
}

#DOBmessage{font-size:17px;
font-weight:400;
margin:0;
}

#DOBData{display:block;
margin:10px auto;
font-size:20px;
text-align: center;
}

#DOBInputMonth{width:100%;
height:120px;
box-sizing: border-box;
margin:10px auto 0 auto;
background-color: tomato;
display:block;
box-shadow: 0 0 5px black;
padding:20px 10px 10px 10px;
position:relative;
}

#DOBAddLetterBtn{    padding: 5px;
    box-shadow: 0 0 5px black;
    position:absolute;
    left:20px;
    bottom:20px;
    font-family: 'Montserrat';
}

#DOBEnterBtn{padding: 5px;
    box-shadow: 0 0 5px black;
    position:absolute;
    right:20px;
    bottom:20px;
    font-family: 'Montserrat';
}

#DOBInvalidMonthError{
    position: absolute;
    bottom: -120px;
    background: red;
    left: -20px;
    right: -20px;
    padding: 10px 20px;
    border-radius:10px;
}

.DOBWrongMonth{margin:0;
font-size:13px;
color:black;
}






#DOBInputDay{
width:100%;
box-sizing: border-box;
margin:10px auto 0 auto;
background-color: tomato;
display:block;
box-shadow: 0 0 5px black;
padding:20px 0 10px 0;
position:relative;
}
#DOBElementsHolder{display:block;
position:relative;
}
.DOBInputDayPostureImage{height:100px;
width:37px;
display: inline-block;
}
#DOBInputDayNumber{height:80px;
width:80px;
background-color: white;
box-sizing: border-box;
display: inline-block;
font-size:40px;
font-family: 'Montserrat';
padding-top:12px;
text-align: center;
position:absolute;
top:10px;
left:140px;
}
#DOBDayStartBtn{padding:5px 10px;
font-size:15px;
display:block;
margin:0 auto;
}
.rightMan{transform: scaleX(-1);
float:left}
.leftMan{float:right}
.DOBAlley{display:inline-block;
border:thin solid black;
width:41%;
}
#rightAlley{margin-left:64px}

#DOBAnswersDisplay{position: absolute;
    height: 230px;
    left: 0px;
    display: block;
    top: 325px;
    width: 400px;
    border: thin solid black;
    box-sizing: border-box;
}
.DOBSubmissions{margin: 10px;
color: black;
font-family:'Montserrat';
}

#eqLeftSide{width:80%;
height:80px;
display: inline-block;
background-color: red;
box-sizing: border-box;
position:absolute;
top:43px;
left:0;
}
#eqTop{display: flex;
width:100%;
background-color: orange;
height:50%;
box-sizing: border-box;
padding:0 20px;
}
#eqBtm{display: block;
    width:100%;
    background-color: purple;
    height:50%;
    text-align: center;
    padding-top:2px;
    box-sizing: border-box;}

#eqRightSide{width:20%;
height:80px;
display: inline-block;
background-color: green;
box-sizing: border-box;
position:absolute;
top:43px;
right:0;
}
.DOBDaySubmission{display:inline-block;
height:35px;
width:35px;
box-sizing: border-box;
background-color: white;
}
.DOBPlus{width:14px;
font-size:20px;
display: inline-block;
font-weight:bold;
margin:0 5px;
}
#DOBDivisorLine{margin:2px auto;
width:85%;
color:black;
}
.avgDayDisplay{position:absolute;
top:125px;
}
.DOBConfirmDay{position:absolute;
bottom:0;
width:95%;
box-sizing: border-box;
}
.DOBYesBtn{float:right;
margin:30px 10px 0 0;
padding: 5px 10px;
}
