/*---------------------------------------------------INPUT MONTH SECTION------------------------------------ */

#DOBMainSection{width:400px;
background-color: whitesmoke;
box-shadow: 0 0 5px black;
padding:20px;
box-sizing: border-box;
display:block;
margin:100px auto;
position:relative;
}

#DOBheader{width:100%;
background-color: tomato;
box-shadow: 0 0 5px black;
height:100px;
box-sizing: border-box;
padding:20px 10px;
display:block;
margin: 0 auto;
}

#DOBmessage{font-size:17px;
font-weight:400;
margin:0;
}

#DOBData{display:block;
margin:10px auto;
font-size:20px;
text-align: center;
}

#DOBInputMonth{width:100%;
height:120px;
box-sizing: border-box;
margin:10px auto 0 auto;
background-color: tomato;
display:block;
box-shadow: 0 0 5px black;
padding:20px 10px 10px 10px;
position:relative;
}

#DOBAddLetterBtn{    padding: 5px;
    box-shadow: 0 0 5px black;
    position:absolute;
    left:20px;
    bottom:20px;
    font-family: 'Montserrat';
}

#DOBEnterBtn{padding: 5px;
    box-shadow: 0 0 5px black;
    position:absolute;
    right:20px;
    bottom:20px;
    font-family: 'Montserrat';
}

#DOBInvalidMonthError{
    position: absolute;
    bottom: -120px;
    background: red;
    left: -20px;
    right: -20px;
    padding: 10px 20px;
    border-radius:10px;
}

.DOBWrongMonth{margin:0;
font-size:13px;
color:black;
}


/* -----------------------------------------------INPUT DAY SECTION-------------------------------------------------*/



#DOBInputDay{
width:100%;
box-sizing: border-box;
margin:10px auto 0 auto;
background-color: tomato;
display:block;
box-shadow: 0 0 5px black;
padding:20px 0 10px 0;
position:relative;
}
#DOBElementsHolder{display:block;
position:relative;
}
#DOBInputDayNumber{height:80px;
width:80px;
background-color: white;
box-sizing: border-box;
display: inline-block;
font-size:40px;
font-family: 'Montserrat';
padding-top:12px;
text-align: center;
position:relative;
top:10px;
left:140px;
}
#DOBDayStartBtn{padding:5px 10px;
font-size:15px;
display:block;
margin:20px auto 0 auto;
font-family: 'Montserrat';
}

.DOBInputDayPostureImage{height:100px;
width:37px;
display: inline-block;
position:absolute;
top:0;
opacity:1;
}

.leftMan{transform: scaleX(-1);}
#firstLeftMan{left:220px;}
#firstRightMan{left:100px}

#DOBAlley{display: inline-block;
    position: absolute;
    border: thin solid black;
    width: 100%;
    z-index: 3;
}




#DOBAnswersDisplay{position: absolute;
    height: 140px;
    left: 0px;
    display: block;
    top: 325px;
    width: 400px;
    box-shadow: 0 0 3px black;
    box-sizing: border-box;
    opacity:0;
    transition:.5s;
    background-color: #c7c3c5;
}
.DOBSubmissions{margin: 10px;
color: black;
font-family:'Montserrat';
}

#eqLeftSide{width:80%;
height:80px;
display: inline-block;
box-sizing: border-box;
position:absolute;
top:43px;
left:0;
}
#eqTop{display: flex;
width:100%;
height:50%;
box-sizing: border-box;
padding:0 0 0 20px;
}
#eqBtm{display: block;
    width:100%;
    height:50%;
    text-align: center;
    padding-top:2px;
    box-sizing: border-box;
    opacity:0;
    transition:.5s;
}

#eqRightSide{width:20%;
height:80px;
display: inline-block;
box-sizing: border-box;
position:absolute;
top:43px;
right:0;
opacity: 1;
transition:.5s;
font-size:55px;
font-weight: bold;
font-family: 'Montserrat';
text-align: center;
}
.DOBDaySubmission{display:inline-block;
height:35px;
width:35px;
box-sizing: border-box;
background-color: white;
font-size:20px;
text-align: center;
font-family:'Montserrat';
font-weight:bold;
padding-top:3px;
margin-right:24px;
opacity:0;
transition:.5s;
}
.DOBPlus{width:14px;
font-size:20px;
display: inline-block;
font-weight:bold;
position:absolute;
opacity:0;
transition: 1s;
}
.DOBEqualSign{width:14px;
    font-size:25px;
    display: inline-block;
    font-weight:bold;
    position:absolute;
    right: -5px;
    bottom: 20px;
    opacity:0;
    transition:1s;
    z-index:3;
}
#DOBDivisorLine{margin:2px auto;
width:85%;
border-top:2px solid black;
opacity:0;
transition:1s;
}
.avgDayDisplay{position:absolute;
top:125px;
opacity:0;
}
.DOBConfirmDay{position:absolute;
bottom:0;
width:95%;
box-sizing: border-box;
opacity:0;
}
.DOBYesBtn{float:right;
margin:30px 10px 0 0;
padding: 5px 10px;
font-family:'Montserrat';
border-radius: 5px;
box-shadow: 0 0 3px #928f8f;;
opacity:0;
transition:1s;
font-weight: bold;
}
.DOBYesBtn:hover{
    background: rgb(70, 68, 68);
    color: white;
    cursor:pointer;
}
#DOBDecimalAvg{opacity:0;
transition:1s;}

.hidden{display:none !important;}

#DOBComponentsBar{position:absolute;
right:0;
width:200px;
border:thin solid black;
}