body{background-color:rgb(172 205 230);}

#mainCard{width:350px;
    box-shadow: 0 0 5px black;
    display: block;
    margin:5% auto;
    background-color: whitesmoke;
    position:relative;
    }

#centralFormDiv{width:350px;
padding:25px;
box-sizing: border-box;
}

label{width: 100px;
    box-sizing: content-box;
    display: inline-block;
    font-size: 18px;
}

#submitNameBtn{display: block;
    font-size: 15px;
    margin-left: 213px;
    padding: 5px;
    border-radius: 5px;
    border: thin solid #414179;
    background: #5151e2;
    box-sizing: content-box;
    color: #2d2d3a;
    width: 75px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Montserrat';}
#submitNameBtn:focus{outline:0;}
#submitNameBtn:hover{color:black; cursor:pointer;background:#3838fb}

.hidden{display:none}
input{    height: 25px;
    width:200px;
    border: thin solid #a2a2a2;
    background: #cecece;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 5px;}

.formSection{display:block;
margin:10px 0;}

#confirmation{border: thin solid #928b8b;
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    background: #a29b9bb5;
    position:relative;
    color: #272727;}

.nameConfirmation{color: #565454;
    display: block;
    letter-spacing: 1px;
    margin: 5px 0;}

#btnsBar{text-align:right;
position:relative;
}
span{padding: 5px;
    margin-left: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 3px #928f8f;
}
span:hover{cursor:pointer;
background:rgb(70, 68, 68);
color:white}

.clickedYes {background:rgb(70, 68, 68);
    color:white}

#secondConfirmation{border: thin solid #928b8b;
    width: 300px;
    padding: 10px;
    margin:10px 0;
    border-radius: 3px;
    position:relative;
    background: #a29b9bb5;
    color: #272727;}
.inlineBtnsBar{display:inline;
margin-left:6px;
position:relative;
}

.lastBtnsBar{display:inline;
margin-left:87px;
}

#thirdConfirmation{border: thin solid #928b8b;
    width: 300px;
    padding: 10px;
    margin:10px 0;
    border-radius: 3px;
    background: #a29b9bb5;
    position:relative;
    color: #272727;}

.screen{height:160%;
width:100%;
position:absolute;
top:-5px;
left:0;
z-index:-1;
}
.front{z-index:2;}

.loadingScreen{background: black;
color:white;
position:absolute;
top:-1px;
bottom:-1px;
left:0;
width:100%;
border:thin solid black;
border-radius:3px;
transition:.5s;
}

.loadingMessage{position:absolute;
top:15%;
left:25%;
letter-spacing: 1px;
font-size:20px;
font-family:'Montserrat', sans-serif;
}
#firstMessage{top:30%;}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #4b4d4e; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    position: absolute;
    right: 25%;
    top:10%;
  }
#firstLoader{top:25%}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

