.nameLabel{width:100px;
box-sizing: border-box;
font-size:17px;
margin:5px;
}

.nameInput{height: 25px;
    width: 250px;
    border: thin solid #a2a2a2;
    background: #ebebeb;;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 5px;
}
#submitGameBtn{display: block;
    margin-left: 271px;
    margin-top:5px;
    font-weight: bold;
    letter-spacing: 1px;
    border:1px solid #007bff;
    font-family: 'Montserrat';}
#submitGameBtn:focus{outline:none;}
#minigameMain{display: block;
margin: 100px auto 20px auto;
width:400px;
height:200px;
box-sizing: border-box;
padding:10px;
background-color: white;
box-shadow: 0 0 3px black;
}

#gameConfirmDiv{position:relative;
width:400px;
background-color: #79b3f1;
box-shadow: 0 0 3px black;
display: block;
margin:10px auto;
padding:10px 23px;
border-radius:10px;
opacity:0;
transition:1s;
}

#gameConfirmBtn{padding:5px 10px;
font-size:15px;
letter-spacing: 1px;
border-radius:7px;
display: block;
margin: 0 0 0 74%;
font-family: 'Montserrat';
font-weight:bold;
opacity:0;
transition:.3s;
}
#mainGrid {width:350px;
    height:150px;
    display:flex;
    flex-wrap: wrap;
    margin: 13px 0;}

.snakeSquare{width:10px;
height:10px;
margin:0;
background-color: black;
}

#snakeHead{background-color: green;
border:thin solid rgb(2, 59, 10);
}

.snakeBody{background-color: rgb(7, 202, 7);
border:thin solid rgb(2, 59, 10);
}

#rat{background-color: red}
#initialInstructions{display: inline-block;
width: 300px;
font-size: 25px;
color: white;
position: absolute;
left: 70px;
top: 100px;
}

#minigameTitle{font-size: 25px;
    text-align: center;
    margin: 5px;}
#minigameHr{margin:10px auto 20px auto;
border-color: #a0a0a0;
}