.nameLabel{width:100px;
box-sizing: border-box;
font-size:17px;
margin:5px;
}

.nameInput{height: 25px;
    width: 250px;
    border: thin solid #a2a2a2;
    background: #ebebeb;;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 5px;
}
#submitGameBtn{display: block;
    margin-left: 271px;
    margin-top:5px;
    font-weight: bold;
    letter-spacing: 1px;
    border:1px solid #007bff;
    font-family: 'Montserrat';}
#submitGameBtn:focus{outline:none;}
#minigameMain{display: block;
margin: 100px auto 20px auto;
width:400px;
height:200px;
box-sizing: border-box;
padding:10px;
background-color: white;
box-shadow: 0 0 3px black;
}

#gameConfirmDiv{position:relative;
width:1000px;
height:400px;
background-color: #79b3f1;
box-shadow: 0 0 3px black;
display: block;
margin:10px auto;
padding:10px 23px;
border-radius:10px;
opacity:0;
transition:1s;
}

#gameConfirmBtn{padding:5px 10px;
font-size:15px;
letter-spacing: 1px;
border-radius:7px;
position:absolute;
bottom:10px;
right:16px;
font-family: 'Montserrat';
font-weight:bold;
opacity:0;
transition:.3s;
}
#mainGrid {width:960px;
height:300px;
box-sizing: border-box;
margin: 13px 0;
}
.easySquare{height:50px;
width:50px;
margin:0;
float:left;
box-sizing: border-box;
background-color: black;
}
.visited{background-color: black;}
.top{border-top:3px solid rgb(0, 4, 255)}
.bottom{border-bottom:3px solid rgb(0, 4, 255)}
.left{border-left:3px solid rgb(0, 4, 255)}
.right{border-right:3px solid rgb(0, 4, 255)}

.chicken{height:50px;
width:50px;
}
.rightFacing{transform:scaleX(-1)}
.minigameExit{background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 5px,
    #ff0202 5px,
    #f10a0a 10px
  );
}


#initialInstructions{font-size: 50px;
letter-spacing: 2px;
text-shadow: 3px 3px 0px #6d6d6d;
color: white;
position: absolute;
left: 27%;
top: 37%;
}

#minigameTitle{font-size: 25px;
    text-align: center;
    margin: 5px;}
#minigameHr{margin:10px auto 20px auto;
border-color: #a0a0a0;
}