body{background:red}

#centralCard{height:350px;
width:600px;
box-shadow: 0 0 5px black;
display: block;
margin:5% auto;
background-color: whitesmoke;
position:relative;
padding:25px 25px 25px 25px;
}

#leftHalf{width:230px;
display: inline-block;
}

#title{width:230px;
font-size:15px;
font-weight: bold;
letter-spacing: 1px;
text-align: center;
}

hr{margin:20px auto;
width:80%}

#description{font-size:15px;
margin-top:30px;
}

#grid{width:300px;
height:300px;
display:flex;
flex-wrap: wrap;
box-shadow: 0 0 5px black;
background-color: rgb(161, 151, 151);
float:right;
}

.emptyBoxImg{height:150px;
width:150px;}
.emptyBoxImg:hover{
border:2px solid black;
}
.clickedEmptyBoxImg{border:3px solid blue !important}

.fullBoxImg{height:100px;
width:150px;}
.fullBoxImg:hover{
border:2px solid black;
}
.clickedFullBoxImg{border:3px solid blue !important}
    

#forestGrid{width:300px;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px black;
    background-image:url('/pictures/motherImage2.jpg');
    background-size: 100% 100%;
    float:right;
}

.square{height:18.75px;
width:18.75px;
box-sizing: border-box;
border:.5px solid gray}
.square:hover{border:3px solid black}
.clickedSquare{border:3px solid blue !important}

.orangeImg{width:100px;
height:100px;
background-color: white;
border: thin solid gray;
}
.orangeImg:hover{
border:2px solid black;
}
.clickedOrangeImg{border:3px solid blue !important}

#newCaptchaBtn{    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 9px;
    margin: 10px 0px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 25px;
    height:30px;
    width:150px;
    box-sizing: border-box;
    border: 1px solid black;
}
#newCaptchaBtn:hover{font-weight: bold;
height:32px;
width:152px;}
#newCaptchaBtn:focus{outline:0}
#refreshIcon{position: relative;
    top: 2px;
    left: 5px;}

#submitBtn{background-color: #5151d2;
    border: 1px solid #2a3ca5;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 10px 0px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 25px;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
}
#submitBtn:hover{font-weight:bold;
height:32px;
width:82px}
#submitIcon{position: relative;
    top: 2px;
    left: 2px;}
#submitBtn:focus{outline:0};