
#centralCard{height:410px;
width:620px;
box-shadow: 0 0 5px black;
position:absolute;
top: 80px;
left: 40px;
padding:25px 25px 25px 25px;
font-family: 'Montserrat';
background-color: white;
z-index:5;
}

#leftHalf{width:230px;
display: inline-block;
}

#captchaTitle{font-size:20px;
font-weight: bold;
text-align: center;
}

hr{margin:0px auto;
border:#a0a0a0;
width:80%}

#description{font-size:18px;
margin-top:80px;
}

#grid{width:300px;
height:300px;
display:flex;
flex-wrap: wrap;
box-shadow: 0 0 5px black;
background-color: rgb(161, 151, 151);
float:right;
}

.emptyBoxImg{height:150px;
width:150px;}
.emptyBoxImg:hover{
border:2px solid black;
}
.clickedEmptyBoxImg{border:3px solid blue !important}

.fullBoxImg{height:100px;
width:150px;}
.fullBoxImg:hover{
border:2px solid black;
}
.clickedFullBoxImg{border:3px solid blue !important}
    

#forestGrid{width:300px;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px black;
    background-image:url('/pictures/motherImage2.jpg');
    background-size: 100% 100%;
    float:right;
}

.square{height:18.75px;
width:18.75px;
box-sizing: border-box;
border:.5px solid gray}
.square:hover{border:3px solid black}
.clickedSquare{border:3px solid blue !important}

.orangeImg{width:100px;
height:100px;
background-color: white;
border: thin solid gray;
}
.orangeImg:hover{
border:2px solid black;
}
.clickedOrangeImg{border:3px solid blue !important}

#newCaptchaBtn{font-size: 13px;
    line-height: 1.2;
    margin: 10px 0px;
    position: absolute;
    bottom: 50px;
    left: 25px;
    height: 30px;
    width: 210px;
    letter-spacing: .6px;
    font-weight: bold;
}
#refreshIcon{position: relative;
    top: -2px;}

#submitBtn{
    font-size: 13px;
    margin: 10px 0px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    letter-spacing: .6px;
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    font-weight: bold;
}
#submitIcon{position: relative;
    top: -2px;}
#submitBtn:focus{outline:0}

.backgroundDimmer{background-color:#00000096;
box-sizing: border-box;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
z-index:1;
}

#loadingSpinner{position:absolute;
top:200px;
left:250px;
font-size:25px;
font-family: 'Montserrat';
z-index:2;
color:white;
}

#errorX{width:300px;
    height:300px;
    float:right;
    }
#errorIcon{font-size:200px;
color:red;
display: block;
margin: 20px auto;
}
#boldTitle{font-weight: bold;}

#redirectDiv{
position:absolute;
width:100%;
top:100px;
text-align: center;
color:white;
z-index:40;
}
.beep{font-size:22px}
.byebye{font-size:15px}