body{background-color: purple;}

#loading{display:block;
text-align: center;
margin-top:20%;
color:white;
font-size:30px;
}

#accordion{background-color: white;
box-shadow: 0 0 5px black;
display:block;
margin:10% auto;
width:1000px;
box-sizing: border-box;
}

#leftSide{font-size: 30px;
font-weight: bold;
display:inline-block;
width:30%;
margin:20px;
float:left;
}

#rightSide{display: inline-block;
width:60%;
margin:20px;
box-sizing: border-box;
}

.topic{box-shadow: 0 0 5px black;
margin:10px 0;
padding:10px;
border-radius:10px;}

h1{font-size:20px}
span{    float: right;
    background: #ded0d0;
    font-size: 25px;
    border-radius: 4px;}
