body{background-color: aquamarine;}

#centralList{display:block;
margin:0 auto;
width: 40%;
}

.tour{width:100%;
margin:15px 0;
box-sizing: border-box;
background-color: white;
box-shadow: 0 0 5px black;
padding-bottom:10px;
}

img{width:100%;
height:350px;
}

h1{display: block;
    font-size: 20px;
    margin: 20px 20px;}
h3{display:inline-block;
float:right;
font-size:18px;
}
p{display:block;
margin:0 20px}

button{display:block;
margin:20px auto 0;
height:40px;
width:150px;
background-color: red;
}
span{color:blue}

